{% extends 'base.html' %}

{% block title%}
about
{% endblock %}

{% block content%}
<div>
<h1 class="text-center">About Central Hospital</h1>
    <p class="container text-justify">In the short span of its existence,  Central Hospital has created its niche on the map of quality healthcare delivery in South India by touching nearly 2 million lives. Having earned the trust and loyalty of patients through the compassion of its caregivers and high-precision medical technology, the institution has emerged as the leading quaternary care facility in the region.

 Central Hospital, established in 2014 was a thoughtful initiative from the renowned  Central Hospital group of institutions to offer quality and affordable medical care to the common man. The legacy of  Central Hospital in pioneering a distinctive culture in the educational sector has helped them carve an exemplary medical institution in Kerala. The hospital is well laid out in a 40 acre green landscape in the serene setting of Chunangamvely, Aluva and is the closest facility to the Cochin International Airport. </p>
    </div>
{% endblock%}